.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: left;
  color: white;
}

.container .mat-drawer .mat-button .mat-icon {
  float: right;
  padding-top: 5px;

}

.container .mat-drawer .mat-button:hover {
  background-color: #fe1e1e;
  color: black;
}

.spacer {
  flex: 1 1 auto;
}
