<mat-tab-group>
  <mat-tab label="SCHEDULE">
    <ng-template matTabContent>
      <p>create and set regime here.</p>
    </ng-template>
  </mat-tab>

  <mat-tab label="WORKOUTS">
    <ng-template matTabContent>
      <p>Listing of workouts here</p>
    </ng-template>
  </mat-tab>

<mat-tab label="TRAINING TRACKER">
    <ng-template matTabContent>
      <p>selected workout here with set tracker etc.</p>
    </ng-template>
  </mat-tab>

  <mat-tab label="TIMER">
    <ng-template matTabContent>
      <p>timer set here</p>
    </ng-template>
  </mat-tab>
</mat-tab-group>
