<mat-tab-group>
  <mat-tab label="LOG">
    <ng-template matTabContent>
      <p>keep track of nutrition here.</p>
    </ng-template>
  </mat-tab>

  <mat-tab label="GUIDE">
    <ng-template matTabContent>
      <p>tips for nutrition here</p>
    </ng-template>
  </mat-tab>

  <mat-tab label="CALORIE TRACKER">
    <ng-template matTabContent>
      <p>select body time to achieve and calc based of attributes for diet</p>
    </ng-template>
  </mat-tab>

  <mat-tab disabled label="COMMUNITY">
    <ng-template matTabContent>
      <p></p>
    </ng-template>
  </mat-tab>
</mat-tab-group>
